* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header,
main {
  width: 90vw;
  height: auto;
  margin: 3rem auto;
}

/*sharing style*/
.primary-btn {
  background-color: #dd0000;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
}
.white-btn {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
}

/*header section*/
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 1.5rem;
}
header section .left-side {
  margin: auto 2rem;
  flex: 1;
}
header .left-side h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}
header .left-side p {
  margin: 1rem auto;
}
header .right-side img {
  width: 100%;
  height: 100%;
  display: block;
  flex: 1;
}

/*main Section*/
main section {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1.5rem;
  gap: 2rem;
}
main section .left-side {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: fit-content;
  flex: 1;
  gap: 1rem;
  padding: 2rem;
  border-radius: 2rem;
}
main section .left-side button {
  width: 100%;
}

main section .right-side {
  flex: 5;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
main section .right-side .right-cards {
  border-radius: 2rem;
  border: 1px solid silver;
}
main section .right-side img {
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}
section .right-side.right-cards {
  display: flex;
  flex-direction: column;
}
section .right-side.right-cards .image {
  flex: 1;
}

section .right-side .right-cards .image-content {
  width: 70%;
  margin: 0 auto;
}
section .right-side .right-cards .image-content .time-content {
  display: flex;
  gap: 1rem;
}

/*foooter section*/
footer {
  width: 100vw;
  background-color: black;
  color: white;
}
footer section {
  width: 70vw;
  text-align: center;
  margin: auto;
}
footer section > div {
  width: 90%;
  margin: 0 auto;
}
footer section h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
footer section hr {
  width: 50%;
  margin: 1rem auto;
  border: none;
  height: 1px;
  background-color: white;
}
footer section .about-link ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
footer section .about-link ul li {
  list-style: none;
}
footer section .about-link ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
  padding: 1rem auto;
}

/*mobile view*/
@media (max-width: 575px) {
  .white-btn {
    border: 1px solid silver;
  }
  header section,
  main .first-main,
  footer section .about-link ul {
    flex-direction: column;
  }
  header section {
    gap: 3rem;
  }
  main .first-main .right-side {
    grid-template-columns: repeat(1, 1fr);
  }
  main section {
    padding: 0;
    flex-direction: row;
  }
  main section .left-side {
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }
}
